*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #e9f4e3;
}

input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 100px 0 35 0;
}

h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.top-content{
    background-color: #f7f6d7;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    padding: 0;
    padding-left:100px;
    padding-right:100px;
    box-sizing: border-box;
}
h3{
    height: 100%;
    background-color: lightgray;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: auto;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

label:hover{
    color: green;
    background-color: orange;
    width:fit-content;
    white-space: nowrap;
    border-radius: 20px;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    
    transition: .5s;
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}



#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}


#check2:checked ~ .container .photo-gallery .vegetables{
    transform: scale(1);
    opacity: 1;
    position: relative;
    
}

#check2:checked ~ .container .photo-gallery .fruits,
#check2:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check3:checked ~ .container .photo-gallery .fruits{
    transform: scale(1);
    opacity: 1;
    position: relative;
    
}

#check3:checked ~ .container .photo-gallery .vegetables,
#check3:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check4:checked ~ .container .photo-gallery .place{
    transform: scale(1);
    opacity: 1;
    position: relative;
    
}

#check4:checked ~ .container .photo-gallery .vegetables,
#check4:checked ~ .container .photo-gallery .fruits{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}





















/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,800;1,600;1,800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/*-------....---------*/


:root {
    --green-color: #3cb815;
    --light-green-color:#c0eb7b ;
    --orange-color:orange ;
    --light-orange-color: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #fff;
}

/*  CUSTOM SCROLLL BAR*/

::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--orange-color);

}
::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background: var(--green-color);
    border-radius: 5rem;
}


.section{
    padding:4.5rem 0 1.5rem ;
}
img{
    width: 100%;

}
body{
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
.logo .bx {
    font-size: 24px;
    color: var(--orange-color);
}
.navbar{
    display: flex;
    column-gap: 0.5rem;

}
.navbar a{
    
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;

}

.navbar a:hover, 
.navbar .home-active{
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;

}




















